In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../dataset/coronavirus-csv/coronavirus_dataset.csv')

In [16]:
data

,Province.State,Country.Region,Lat,Long,date,cases,type
0,NaN,Japan,35.67620,139.65030,2020-01-22,2,confirmed
1,NaN,South Korea,37.56650,126.97800,2020-01-22,1,confirmed
2,NaN,Thailand,13.75630,100.50180,2020-01-22,2,confirmed
3,Anhui,Mainland China,31.82571,117.22640,2020-01-22,1,confirmed
4,Beijing,Mainland China,40.18238,116.41420,2020-01-22,14,confirmed
...,...,...,...,...,...,...,...
2156,Sichuan,Mainland China,30.61714,102.71030,2020-02-26,18,recovered
2157,Tianjin,Mainland China,39.29362,117.33300,2020-02-26,5,recovered
2158,Xinjiang,Mainland China,41.11981,85.17822,2020-02-26,4,recovered
2159,Yunnan,Mainland China,24.97411,101.48680,2020-02-26,15,recovered
2160,Zhejiang,Mainland China,29.18251,120.09850,2020-02-26,59,recovered

In [3]:
data['Country.Region'].value_counts()

Mainland China          1700
Singapore                 40
South Korea               39
Hong Kong                 39
Japan                     35
US                        29
Taiwan                    24
Australia                 23
Thailand                  23
Others                    19
Italy                     18
Iran                      16
Malaysia                  16
Germany                   15
France                    14
Macau                     13
Vietnam                   13
Canada                    12
United Arab Emirates       9
UK                         7
Philippines                5
Spain                      5
India                      4
Finland                    3
Kuwait                     3
Bahrain                    3
Russia                     2
Sweden                     2
Iraq                       2
Sri Lanka                  2
Lebanon                    2
Cambodia                   2
Nepal                      2
Oman                       2
Israel                     2
Croatia                    2
Belgium                    2
Pakistan                   1
Algeria                    1
Romania                    1
Austria                    1
Egypt                      1
Greece                     1
Switzerland                1
Afghanistan                1
Brazil                     1
Georgia                    1
North Macedonia            1
Norway                     1
Name: Country.Region, dtype: int64

In [4]:
data.head()

,Province.State,Country.Region,Lat,Long,date,cases,type
0,NaN,Japan,35.67620,139.6503,2020-01-22,2,confirmed
1,NaN,South Korea,37.56650,126.9780,2020-01-22,1,confirmed
2,NaN,Thailand,13.75630,100.5018,2020-01-22,2,confirmed
3,Anhui,Mainland China,31.82571,117.2264,2020-01-22,1,confirmed
4,Beijing,Mainland China,40.18238,116.4142,2020-01-22,14,confirmed

In [5]:
region = data.groupby(['Country.Region','date'],as_index=False)['cases'].agg('sum')

In [22]:
all_unstack = data.groupby(['Country.Region','date'])['cases'].agg('sum').groupby(level=[0]).cumsum().unstack()

In [25]:
all_unstack['2020-01-22'] = all_unstack['2020-01-22'].fillna(0)

In [36]:
region_cumsum = all_unstack.fillna(method='pad',axis=1).stack().reset_index()

In [37]:
region[region['Country.Region']=='Vietnam']

    Country.Region        date  cases
375        Vietnam  2020-01-23      2
376        Vietnam  2020-02-01      5
377        Vietnam  2020-02-03      2
378        Vietnam  2020-02-06      2
379        Vietnam  2020-02-08      3
380        Vietnam  2020-02-10      1
381        Vietnam  2020-02-11      6
382        Vietnam  2020-02-13      2
383        Vietnam  2020-02-21      7
384        Vietnam  2020-02-25      2

In [38]:
region_cumsum[region_cumsum['Country.Region']=='Vietnam']

     Country.Region        date     0
1728        Vietnam  2020-01-22   0.0
1729        Vietnam  2020-01-23   2.0
1730        Vietnam  2020-01-24   2.0
1731        Vietnam  2020-01-25   2.0
1732        Vietnam  2020-01-26   2.0
1733        Vietnam  2020-01-27   2.0
1734        Vietnam  2020-01-28   2.0
1735        Vietnam  2020-01-29   2.0
1736        Vietnam  2020-01-30   2.0
1737        Vietnam  2020-01-31   2.0
1738        Vietnam  2020-02-01   7.0
1739        Vietnam  2020-02-02   7.0
1740        Vietnam  2020-02-03   9.0
1741        Vietnam  2020-02-04   9.0
1742        Vietnam  2020-02-05   9.0
1743        Vietnam  2020-02-06  11.0
1744        Vietnam  2020-02-07  11.0
1745        Vietnam  2020-02-08  14.0
1746        Vietnam  2020-02-09  14.0
1747        Vietnam  2020-02-10  15.0
1748        Vietnam  2020-02-11  21.0
1749        Vietnam  2020-02-12  21.0
1750        Vietnam  2020-02-13  23.0
1751        Vietnam  2020-02-14  23.0
1752        Vietnam  2020-02-15  23.0
1753        Vietnam  2020-02-16  23.0
1754        Vietnam  2020-02-17  23.0
1755        Vietnam  2020-02-18  23.0
1756        Vietnam  2020-02-19  23.0
1757        Vietnam  2020-02-20  23.0
1758        Vietnam  2020-02-21  30.0
1759        Vietnam  2020-02-22  30.0
1760        Vietnam  2020-02-23  30.0
1761        Vietnam  2020-02-24  30.0
1762        Vietnam  2020-02-25  32.0
1763        Vietnam  2020-02-26  32.0

In [39]:
region_cumsum['type']='confirmed'

In [40]:
region_cumsum.columns = ['name','date','value','type']

In [41]:
region_cumsum = region_cumsum[['name','type','value','date']]

In [42]:
region_cumsum

             name       type  value        date
0     Afghanistan  confirmed    0.0  2020-01-22
1     Afghanistan  confirmed    0.0  2020-01-23
2     Afghanistan  confirmed    0.0  2020-01-24
3     Afghanistan  confirmed    0.0  2020-01-25
4     Afghanistan  confirmed    0.0  2020-01-26
...           ...        ...    ...         ...
1759      Vietnam  confirmed   30.0  2020-02-22
1760      Vietnam  confirmed   30.0  2020-02-23
1761      Vietnam  confirmed   30.0  2020-02-24
1762      Vietnam  confirmed   32.0  2020-02-25
1763      Vietnam  confirmed   32.0  2020-02-26

[1764 rows x 4 columns]

In [43]:
region_cumsum.to_csv('../dataset/processed/region_cumsum.csv')

In [44]:
region_cumsum[region_cumsum['name']!='Mainland China'].to_csv('../dataset/processed/region_cumsum_no_mainland_china.csv',index=False)

In [53]:
output = region_cumsum[(region_cumsum['name'] != 'Mainland China') & (region_cumsum['name'] != 'Hong Kong') 
              & (region_cumsum['name'] != 'Taiwan') & (region_cumsum['name'] != 'Macau')]

In [54]:
output = output.replace('Others','Diamond Princess cruise ship')

In [55]:
output.to_csv('../dataset/processed/output.csv',index=False)